body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

h1 {
  color: white;
  margin-top: 25px;
  margin-bottom: 5px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 255, 0.1), 0 0 5px rgba(0, 0, 255, 0.1),
    0 1px 3px rgba(0, 0, 255, 0.3), 0 3px 5px rgba(0, 0, 255, 0.2),
    0 5px 10px rgba(0, 0, 255, 0.25), 0 10px 10px rgba(0, 0, 255, 0.2);
}

h2 {
  color: white;
  font-weight: 900;
  margin-top: 1px;
}

h3 {
  color: black;
  font-weight: 700;
  padding-top: 1px;
  text-align: center;
}

h4 {
  color: white;
  font-weight: 800;
  text-align: justify;
  text-justify: inter-word;
}

h5 {
  color: black;
  font-weight: 800;
  text-align: center;
}

.container-fluid {
  padding: 0;
  background: white;
}

/* My logo */
.my-logo {
  position: absolute;
  left: 1px;
  top: 20.5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

/*My SVG CT animation logo*/
#t-logo {
  width: 171px;
  height: 84px;
  padding: 1px;
  margin: auto;
}

.t-logo {
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
}

@keyframes draw1 {
  0% {
    stroke: cyan;
    stroke-width: 1.8px;
  }
  100% {
    stroke: cyan;
    stroke-width: 1.8px;
    fill: none;
    stroke-dashoffset: 100;
  }
}

@keyframes draw2 {
  0% {
    stroke: yellow;
    stroke-width: 1.8px;
  }
  100% {
    stroke: yellow;
    stroke-width: 1.8px;
    fill: none;
    stroke-dashoffset: 100;
  }
}

@keyframes draw3 {
  0% {
    stroke: red;
    stroke-width: 1.8px;
  }
  100% {
    stroke: red;
    stroke-width: 1.8px;
    fill: none;
    stroke-dashoffset: 100;
  }
}

main {
  width: 100%;
}

/* Tropar*/

/* Biblical teachings - text animation */
#biblicalTeachings {
  background-color: transparent;
  width: 98%;
  min-height: 100px;
  margin: auto;
  border: 1px solid #8888ff;
  background-color: #8888ff;
  pointer-events: none;
  text-align: center;
  font-size: 1em;
}

.biblical-Teachings {
  width: 97%;
  height: 53px;
  font-size: 1.4em;
  font-weight: 700;
  margin: 0.1em auto;
  color: white;
  text-align: center;
}

.margin {
  margin-bottom: 45px;
}

.bg-1 {
  background-color: white; /* Green */
  color: #8888ff;
}

#carousel-example-generic {
  width: 88%;
  margin: 1px auto;
  background-color: transparent;
  height: 100%;
}

.item {
  width: 100%;
  margin: auto;
}

img {
  width: 100%;
}

.thumbnail {
  margin: 1px;
  padding: 5px;
  background-color: white;
  color: white;
  border-radius: 0;
  width: 100%;
}

iframe {
  width: 100%;
  border-bottom: 1px solid purple;
}

#myCarousel {
  background-color: transparent;
  width: 100%;
}

.carousel-inner {
  width: 100%;
  margin: auto;
}

.carousel-caption h3 {
  color: white !important;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}

.item h4 {
  line-height: 1.375em;
  font-style: italic;
  margin: 12px 0;
}

.item span {
  font-style: normal;
}

.panel {
  border: 3px solid #8888ff;
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
}

.panel-heading {
  background-color: #8888ff !important;
  padding: 1px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel-heading h3 {
  color: white;
}

.panel-body {
  background: white;
  border: 3px solid #8888ff;
}

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}

#emblem img {
  width: 290px;
  height: 290px;
  margin-bottom: 5px;
  animation: rotation 12s infinite linear;
}

img {
  width: 100%;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
