body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TOP LEFT & RIGHT BUTTONS */

#bottom-left-button {
  font-size: 1.7em;
  font-weight: 900;
  text-align: center;
  position: fixed;
  bottom: 4.5px;
  left: -0.7px;
  z-index: 100;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#bottom-right-button {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  position: fixed;
  bottom: -3.7px;
  right: 1px;
  z-index: 100;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* h styles */
h1 {
  color: white;
  font-weight: 900;
  text-align: center;
  text-shadow: .1px .1px .1px white, .1px .3px .5px black;
  font-family: 'Montserrat', 'Segoe UI', 'Lato';
}

h2 {
  color: cornflowerblue;
  font-weight: 100;
  margin-top: -25px;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Montserrat', 'Segoe UI', 'Lato';
}

h3 {
  color: cornflowerblue;
  font-weight: 700;
  padding-top: 1px;
  text-align: center;
  text-shadow: .1px .1px .1px white, .1px .3px .5px black;
  font-family: 'Montserrat', 'Segoe UI', 'Lato';
}

h4 {
  color: white;
  font-weight: 100;
  text-align: justify;
  text-justify: inter-word;
  text-shadow: .1px .1px .1px white, 1px 1px 1px black;
  font-family: 'Montserrat', 'Segoe UI', 'Lato';
}


h5 {
  font-weight: 100;
  color: cornflowerblue;
  text-align: center;
  font-family: 'Montserrat', 'Segoe UI', 'Lato';
}

h6 {
  font-weight: 100;
  text-align: center;
  font-family: 'Montserrat', 'Segoe UI', 'Lato';
}

#calendar {
  padding-left: 1px;
  padding-right: 1px;
}

main {
  width: 100%;
  margin-top: 53px;
}

section {
  width: 88%;
  margin: auto;
  background: linear-gradient(blue, dodgerblue, blue);
  border: 1px solid cornflowerblue;
}

@media (min-width: 768px) {
  section {
    width: 53%;
  }
}

.saint {
  font-weight: 100;
  margin-top: -20px;
  text-align: justify;
  text-justify: inter-word;
  text-shadow: .1px .1px .1px white, 1px 1px 1px black;
  font-family: 'Montserrat', 'Segoe UI', 'Lato';
}

/* BIBLICAL TEACHINGS - TEXT ANIMATION */
#biblicalTeachings {
  color: white;
  background: linear-gradient(blue, dodgerblue, blue);
  width: 100%;
  min-height: 153px;
  margin: auto;
  border: 1px solid cornflowerblue;
  pointer-events: none;
  text-align: center;
  font-family: 'Montserrat', 'Segoe UI', 'Lato';
}

@media (min-width: 768px) {
  #biblicalTeachings {
    width: 71%;
  }
}

.biblical-Teachings {
  color: white;
  font-weight: 700;
  width: 100%;
  height: 53px;
  padding-top: 27px;
  padding-left: 3px;
  padding-right: 3px;
  margin: auto;
  text-align: center;
}

.margin {
  margin-bottom: 45px;
}

/* SPIRITUAL EBOOK styles */
article {
  background-color: white;
  margin-top: 90px;
  overflow: auto;
  width: 100%;
  transform: translate3d(0, 1px, 0);
}

article .page {
  margin: auto;
}

.category {
  width: 100%;
  margin: auto;
  text-align: center;
  font-weight: 700;
  font-family: 'Montserrat', 'Segoe UI', 'Lato';
}

.category dt {
  color: white;
  line-height: 27px;
  font-weight: 700;
  height: 53px;
  padding: 12px;
  cursor: pointer;
  text-shadow: .1px .3px .5px black;
  background: linear-gradient(dodgerblue, blue);
}

.category dt h4 {
  color: white;
  font-weight: 700;
  text-align: center;
  margin-top: 3.5px;
}

.category dd {
  margin: auto;
  padding: 9px;
  background-color: blue;
  font-family: 'Montserrat', 'Segoe UI', 'Lato';
}

.category dd h4 {
  color: white;
  font-weight: 100;
  text-shadow: .1px .1px .1px white, .1px .3px .5px black;
  text-align: left;
  text-justify: inter-word;
  font-family: 'Montserrat', 'Segoe UI', 'Lato';
}

@media (min-width: 768px) {
  .category dd h4 {
    padding-left: 450px;
    padding-right: 450px;
  }
}


/* RELOAD & UP-ARROW BUTTONS 
.reload {
  font-size: 1.7em;
  font-weight: 900;
  text-align: center;
  position: fixed;
  padding: .1em;
  padding-top: .3em;
  bottom: 5px;
  left: 1px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.up-arrow {
  font-size: 1.7em;
  font-weight: 900;
  text-align: center;
  padding: .1em;
  position: fixed;
  bottom: 5px;
  right: 1px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
*/

/* TROPARION SIGN - T SVG - ANIMATION 
.my-logo {
  position: absolute;
  left: 1px;
  top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

#t-logo {
  width: 171px;
  height: 84px;
  margin: auto;
  margin-top: 12px;
}

.t-logo {
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
}

@keyframes draw1 {
  0% {
    stroke: cornflowerblue;
    stroke-width: 1.8px;
  }

  100% {
    stroke: cornflowerblue;
    stroke-width: 1.8px;
    fill: none;
    stroke-dashoffset: 100;
  }
}

@keyframes draw2 {
  0% {
    stroke: red;
    stroke-width: 1.8px;
  }

  100% {
    stroke: red;
    stroke-width: 1.8px;
    fill: none;
    stroke-dashoffset: 100;
  }
}

@keyframes draw3 {
  0% {
    stroke: yellow;
    stroke-width: 1.8px;
  }

  100% {
    stroke: yellow;
    stroke-width: 1.8px;
    fill: none;
    stroke-dashoffset: 100;
  }
}
*/